Repository pjgrandinetti/SITypes: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-check, test-check, memory-check, generated-files-check

.pre-commit-config.yaml:

# Pre-commit configuration for SITypes C library
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|rst)$
      - id: end-of-file-fixer
        exclude: \.(md|rst)$
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending

  # C/C++ specific tools
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      # Code formatting with clang-format
      - id: clang-format
        args: [--style=file, --fallback-style=LLVM]
        files: \.(c|h)$
        exclude: ^(build/|third_party/|.*\.tab\.(c|h)|.*Scanner\.c)$

      # Static analysis with clang-tidy
      - id: clang-tidy
        args:
          - --checks=-*,readability-*,bugprone-*,clang-analyzer-*,performance-*
          - --header-filter=src/.*\.h
          - --format-style=file
        files: \.(c|h)$
        exclude: ^(build/|third_party/|.*\.tab\.(c|h)|.*Scanner\.c)$

      # Static analysis with cppcheck
      - id: cppcheck
        args:
          - --error-exitcode=1
          - --enable=warning,style,performance,portability
          - --suppress=missingIncludeSystem
          - --suppress=unusedFunction
          - --suppress=unmatchedSuppression
          - --inline-suppr
        files: \.(c|h)$
        exclude: ^(build/|third_party/|.*\.tab\.(c|h)|.*Scanner\.c)$

  # Custom local hooks for SITypes-specific checks
  - repo: local
    hooks:
      # Ensure code compiles without warnings
      - id: build-check
        name: Build check
        entry: make
        args: [clean, all]
        language: system
        pass_filenames: false
        files: \.(c|h|y|l)$

      # Run tests to ensure functionality
      - id: test-check
        name: Test check
        entry: make
        args: [test]
        language: system
        pass_filenames: false
        files: \.(c|h|y|l)$

      # Check for memory leaks with AddressSanitizer
      - id: memory-check
        name: Memory leak check
        entry: make
        args: [test-asan]
        language: system
        pass_filenames: false
        files: \.(c|h|y|l)$

      # Verify generated files are up to date
      - id: generated-files-check
        name: Generated files check
        entry: sh
        args:
          - -c
          - |
            make prepare
            if git diff --quiet build/gen/; then
              exit 0
            else
              echo "Generated files are out of date. Run 'make prepare' and commit the changes."
              exit 1
            fi
        language: system
        pass_filenames: false
        files: \.(y|l)$

# Global settings
default_stages: [pre-commit]
fail_fast: false

Fix quartertsp unit availability and improve volume system API
  Makefile
  src/SILibrary.h
  src/SIScalarParserHelpers.c
  src/SIUnit.c
  src/SIUnit.h
Due: build-check, test-check, memory-check

Update OCTypes dependency with bitfield optimization
  src/SILibrary.c
Due: build-check, test-check, memory-check

Fix SIUnitDimensionlessAndUnderived to use proper accessor function
  src/SIUnit.c
Due: build-check, test-check, memory-check

Make SITypesShutdown() idempotent and call OCTypesShutdown()
  debug_quartertsp
  debug_quartertsp.c
  src/SITypes.c
Due: build-check, test-check, memory-check

SITypes improvements and test fixes
  .gitignore
  src/SITypes.c
  src/SIUnit.c
  src/SIUnitDefinitions.h
  src/SIUnitExpression.c
  tests/test_scalar_parser.c
Due: build-check, test-check, memory-check

Refactor SIUnit library management and improve code organization
  src/SIUnit.c
  src/SIUnit.h
  tests/test_duplicate_units.c
  tests/test_unit.c
Due: build-check, test-check, memory-check

Implement physics ordering (MLT) and fix base unit naming system
  src/SIDimensionality.c
  src/SIDimensionality.h
  src/SIDimensionalityLib.c
  src/SIDimensionalityPrivate.h
  src/SIUnit.c
  tests/test_dimensionality.c
  tests/test_scalar_parser.c
  tests/test_scalar_parser.h
  tests/test_unit_from_expression_robust.c
Due: build-check, test-check, memory-check

Fix critical memory safety issues in SITypes
  src/SIUnit.c
Due: build-check, test-check, memory-check

Update SIUnit implementation with enhanced unit system functionality
  src/SIUnit.c
Due: build-check, test-check, memory-check

macOS CI: link tests statically against OCTypes to avoid @rpath dylib failures on macos-14-arm64 runners
  Makefile
Due: none

Linux CI: link tests statically to OCTypes and use ld group flags; fix ASAN fallback linkage
  Makefile
Due: none

Fix Windows CI build by using static linking to OCTypes
  Makefile
Due: none

Add shared library build support alongside static library
  .github/workflows/ci.yml
  Makefile
  src/SILibrary.c
Due: build-check, test-check, memory-check

Fix shared library linking on Windows/MinGW
  Makefile
Due: none

Ensure OCTypes dependency is fetched before Windows build
  .github/workflows/ci.yml
Due: none

Fix ARM64 Linux build by using correct OCTypes artifact names
  .github/workflows/ci.yml
Due: none

Fix YAML syntax error in CI workflow
  .github/workflows/ci.yml
Due: none

Fix release workflow: handle actual artifact names correctly
  .github/workflows/ci.yml
Due: none

Fix release packaging: search multiple locations for library files
  .github/workflows/ci.yml
Due: none

Add library verification to build workflow
  .github/workflows/ci.yml
Due: none

Add comprehensive debugging to macOS build workflow
  .github/workflows/ci.yml
Due: none

Fix artifact naming to match OCTypes pattern
  .github/workflows/ci.yml
Due: none

Enhance error handling and fix static analyzer warnings
  Makefile
  SIUnitExpressionSpecs.md
  src/SIUnit.c
  src/SIUnitExpression.c
  src/SIUnitExpression.h
  src/SIUnitExpressionParser.y
  tests/main.c
Due: build-check, test-check, memory-check, generated-files-check

Memory leak investigation: Isolated all leaks to SIUnitCreateCleanedExpression
  src/SIUnit.c
  src/SIUnitExpression.c
  tests/main.c
Due: build-check, test-check, memory-check

Fix memory leaks in SIUnitCreateCleanedExpression
  src/SIScalar.c
  src/SIUnit.c
  src/SIUnitDefinitions.h
  src/SIUnitExpression.c
  tests/main.c
Due: build-check, test-check, memory-check

Fix memory leaks in SIUnitFromExpression with invalid unit symbols
  src/SITypes.c
  src/SIUnit.c
  src/SIUnitExpressionParser.y
Due: build-check, test-check, memory-check, generated-files-check

Fix memory leak: Add global parser state cleanup to SITypesShutdown
  src/SITypes.c
Due: build-check, test-check, memory-check

Add parser error state cleanup to SITypesShutdown
  src/SITypes.c
Due: build-check, test-check, memory-check

Fix memory leaks in SIUnit arithmetic operations and expression processing
  .gitignore
  src/SIUnit.c
  src/SIUnitExpression.c
Due: build-check, test-check, memory-check

Final code cleanup and formatting
  src/SITypes.c
  src/SITypes.h
  src/SIUnit.c
  src/SIUnitDefinitions.h
  src/SIUnitExpression.c
  src/SIUnitExpression.h
  src/SIUnitExpressionScanner.l
  tests/main.c
Due: build-check, test-check, memory-check, generated-files-check

Clean up temporary debugging files from SITypes
  src/SIScalarParserHelpers.c
  src/SITypes.c
  src/SIUnit.c
  src/SIUnitExpression.c
  src/SIUnitExpressionParser.y
  tests/test_unit.c
Due: build-check, test-check, memory-check, generated-files-check

Fix SITypes GitHub Actions build failure
  Makefile
Due: none

update makefile
  Makefile
Due: none

remove leak tracking from SIUnit
  src/SIUnit.c
Due: build-check, test-check, memory-check

update make install
  Makefile
Due: none

Add comprehensive infinity support to SITypes mathematical library
  src/SIScalar.c
  src/SIScalarScanner.l
  tests/main.c
  tests/test_scalar_parser.c
  tests/test_scalar_parser.h
Due: build-check, test-check, memory-check, generated-files-check

Improve infinity handling and clean up SIScalar.c
  src/SIScalar.c
Due: build-check, test-check, memory-check

SINumberType fix
  src/SIQuantity.h
Due: build-check, test-check, memory-check

update makefile test-asan with leak detection
  Makefile
Due: none
